<div class="row">
    <aside class="col-md-4">
        <h4>Basic User Info</h4>
        <section class="candidate_info">
            <%= render 'shared/basic_candidate_info' %>
        </section>
    </aside>
    <div class="col-md-4">
        <h4>Move To Another Round</h4>
        <%= render 'shared/interview_form' %>
    </div>
    <div class="col-md-4">
        <h4>Add FeedBack and Status</h4>
        <%= render 'shared/feedback_form' %>
    </div>
</div>